<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>GiveLight Foundation</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>A vision to rebuild a future</h2>
        <p>
          GiveLight Foundation is a non-profit humanitarian relief organization, established in Sunnyvale, California, USA in January 2005 by a group of young professionals. The foundation seeks to create durable orphanages and provide orphan care in response to natural disasters and extreme condition, like poverty and war. Since inception, GiveLight has been able to operate primarily using volunteer talents in the US to generate awareness and funds for our global projects. Inspired by Islamic values we strive to help orphans across the globe regardless of nationality, race or religion.
        </p>
        <p>
          GiveLight Foundation is driven solely by volunteers who are passionate about the cause. We are working professionals who are high achievers, stay-home moms, retirees and even students. Meet the folks who are devoting their time, efforts and talents towards making a difference in the lives of the orphan children. GiveLight Foundation would not be a reality without these dedicated individuals.
        </p>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button href="http://www.givelight.org/about-us.html" target="_blank" md-autofocus>
        More about us
      </md-button>
      <span flex></span>
    </md-dialog-actions>
  </form>
</md-dialog>
