<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Know about your impact</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

        <p>
          Did you know that just $30 can feed an orphan child for an entire month?

          Your contribution will enable us to raise our orphans the way we care for our own children. We are committed to providing the best education, a loving family and a place where our children can grow with a strong sense of identity and belonging.
        </p>
        <p>
          Here are some facts to help you gauge the impact of your donation.
            <p>  •  $30 provides warm meals for a month. </p>
            <p>  •  $50 pays for a tutor's salary (our kids have private tutoring in English, Math, etc.). </p>
            <p>  •  $360 sponsors an orphan child for an entire year. </p>
            <p>  •  $1000 sponsors everything a child's need including clothes, shoes, books, medical, saving account. </p>
        </p>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
