<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Advanced search</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/images/cancel.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

      <md-input-container>
        <label>Location</label>
        <input ng-model="location1" type="email">
      </md-input-container>
      <br>
      <md-input-container>
        <label>Skills</label>
        <input ng-model="skills" type="email">
      </md-input-container>
      <br>
      <md-input-container>
        <label>Event</label>
        <input ng-model="event" type="email">
      </md-input-container>

      </div>



    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="answer(location)">
       Submit
      </md-button>
      <md-button class="md-warn" ng-click="answer('useful')">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
