<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Advanced search</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/images/cancel.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

      <md-input-container>
        <label>City</label>
        <input ng-model="location" type="text">
      </md-input-container>

      <md-input-container>
        <label>State</label>
        <input ng-model="skills" type="text">
      </md-input-container>

      <md-input-container>
        <label>Country</label>
        <input ng-model="event" type="text">
      </md-input-container>
      </div>

      <br>
     &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-checked=gover >
                   Governing
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-checked=oper >
                   Operations
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-checked=market >
                   Marketing
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-checked=human >
                   Human Resources
      </md-checkbox>
      <br>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-checked=tech >
                   Technology
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-checked=prog >
                   Programs/Outreach
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-checked=global >
                   Global Homes
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;

      <br>
      <br>




    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="answer('test')">
       Submit
      </md-button>
      <md-button class="md-warn" ng-click="answer('useful')">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
