<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Advanced search</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="/images/cancel.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

      <md-input-container>
        <label>City</label>
        <input ng-model="city" type="text">
      </md-input-container>

      <md-input-container>
        <label>State</label>
        <input ng-model="state" type="text">
      </md-input-container>

      <md-input-container>
        <label>Country</label>
        <input ng-model="country" type="text">
      </md-input-container>
      </div>

      <br>
     &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-model="gover" >
                   Governing
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-model="oper" >
                   Operations
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-model="market" >
                   Marketing
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-model="human" >
                   Human Resources
      </md-checkbox>
      <br>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-model="tech" >
                   Technology
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-model="prog">
                   Programs/Outreach
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;
      <md-checkbox ng-model="global" >
                   Global Homes
      </md-checkbox>
      &nbsp;&nbsp;&nbsp;



      <br>
      <br>

      <hr>

<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
Event Based Search
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <md-input-container>
         <label>Events</label>
         <md-select ng-model="event">
           <md-option><em>None</em></md-option>
           <md-option ng-repeat="ev in eventslist" ng-value="ev">
             {{ev}}
           </md-option>
         </md-select>
       </md-input-container>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="answer('test')">
       Submit
      </md-button>
      <md-button class="md-warn" ng-click="answer('useful')">
        Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
