<div>

   <div class="custom">
     <div class="master-video-wrapper" style="height:100%">
       <video autoplay="autoplay" class="master-video" loop="loop" >
         <source src="videos/bg.mp4" type="video/mp4">
      </video>
      <div class="master-body col-md-10 col-sm-11 col-xs-12" style="opacity: 0.99; filter: blur(0.111111px); transform: translateY(1.42857%);">
           <div class="master-title">Only a life lived for others is worth living</div>
           <div class="master-sub-title">Inspired to inspire</div>
     </div>


     <div class="bottom-left">
         <m2s-globe
                 points="points"
                 point-lat="d.myPosition.lat"
                 point-lng="d.myPosition.lng"
                 raised-land="false"
                 point-id="d.myId"
                 point-radius="getPointRadius(d)"
                 point-class="getPointClass(d)"
                 rotate="true"
                 rotate-speed=speed
                 class="advanced-globe"
                 enter-anim-delay="i * 80"
                 map-type="countries"
                 clickable="false"
                 graticule="false">
           </m2s-globe>
       </div>
   </div>
 </div>

 <a class="twitter-timeline"  href="https://twitter.com/hashtag/GiveLightFoundation" data-widget-id="924764337289306112">#GiveLightFoundation Tweets</a>

</div>
<div id="content" style="display: flex;">
  <div id="newsFeed">
    <p>newsFeed</p>
  </div>
