<div class="profiledetails">
  <div class="backImage">
    <div class="cross">
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="images/close.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </div>
  <img alt="User Pic" src="images/profile-pic-user2.png" class="img-circle img-responsive">
<div class="userdetails">
  <form>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
      <div class="details">  Name:&nbsp;&nbsp;&nbsp;{{name}} </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
      <div class="details">  City:&nbsp;&nbsp;&nbsp;{{city}} </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
      <div class="details">Email:<a href="mailto:info@support.com">&nbsp;&nbsp;&nbsp;{{emailId}}</a> </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
      <div class="details">Phone Number:&nbsp;&nbsp;&nbsp;{{phone}}</div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row">
      <md-input-container class="md-block" flex-gt-sm>
      <div class="details">Skills:&nbsp;&nbsp;&nbsp;{{skills}}</div>
      </md-input-container>
    </div>
  </form>
</div>
</div>
