<div>
  <md-toolbar class="md-primary ">
    <div class="md-toolbar-tools">
      <span class="logo">
        <img src="/images/logo_lg-white.png" alt="bizlogo" width="20%"/>
      </span>
    </div>
    <div class="search-toolbar">
      <div class="wrapper-search-toolbar">
        <div class="search-bar">
          <md-autocomplete
                ng-disabled="search_isDisabled"
                md-no-cache="ctrl.noCache"
                md-selected-item="ctrl.selectedItem"
                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                md-search-text="ctrl.searchText"
                md-selected-item-change="ctrl.selectedItemChange(item)"
                md-items="item in ctrl.querySearch(ctrl.searchText)"
                md-item-text="item.display"
                md-min-length="0"
                ng-keyup="entered_search()"
                placeholder="Search Volunteer">
              <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
              </md-item-template>
          </md-autocomplete>
        </div>
        <div class="filter-bar">
          <md-button ng-click="showAdvanced($event)" class="md-icon-button" aria-label="More">
            <md-tooltip md-direction="bottom" >Advanced search</md-tooltip>
            <md-icon md-svg-icon="/images/filter-2.svg"></md-icon>
          </md-button>
          <!-- <md-button class="md-raised md-primary" ng-click="">Filter</md-button> -->
        </div>
      </div>
      <div class="tag-bar">
          <!-- <md-button class="md-small" ng-href="{{googleUrl}}" target="_blank">Default Link</md-button> -->
      </div>
    </div>
    <!-- <md-progress-linear md-mode="indeterminate"></md-progress-linear> -->
  </md-toolbar>
  <md-content flex layout-padding class="search-content">
    <!-- <md-button ng-click="get_query_results()">test</md-button> -->
    <md-card class="volunteer-list-div">
      <regular-card name="Tejas Gujjar" address="San Jose" contactno="668-123-2323" md-theme="default"></regular-card>
      <regular-card name="Kushal Joshi" address="Chicago" contactno="408-678-7665" md-theme="default"></regular-card>
  </md-card>
  </md-content>
</div>
