<!DOCTYPE html>
<html ng-app="myApp">
 <head>
   <title><%= title %></title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
   <script src="angular/controller.js"></script>
   <link type="text/css" rel="stylesheet" href="stylesheets/style.css" />
 </head>
 <body ng-controller="directoryController">
   <header>
     <p>here</p>
   </header>
   <div id="content">
     <div id="filter">
       <p>tool bar goes here</p>
     </div>
     <div class="map">
       <p>map comes here</p>
     </div>
     <div id="newsFeed">
       <p>newsFeed</p>
     </div>
   </div>
   <footer>
     <p>here</p>
   </footer>
</body>
</html>
