<!DOCTYPE html>
<html ng-app="myApp">
 <head>
   <title><%= title %></title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
   <script src="angular/controller.js"></script>
   <link rel='stylesheet' href='/stylesheets/style.css' />
 </head>
 <body ng-controller="directoryController">
   <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
 </body>
</html>
